.aboutme {
  background-color: $grey-backgrounds;
  // background-image: $background;
  width: 100%;
  height: 100vh;
  position: relative;

  &-photo {
    background-image: url(../assets/aboutMeGosia.png);
    width: 250px;
    height: 40vh;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center center;
    border-radius: 1em;
    box-shadow: -30px -30px 60px rgba(172, 172, 172, 0.1),
      30px 30px 60px rgba(0, 0, 0, 0.5);

    @include tablet {
      width: 50vw;
    }
    @include desktops {
      width: 25vw;
      height: 70vh;
    }
  }

  &-moving {
    width: 90vw;
    height: 50vh;
    position: absolute;
    top: 10%;
    transform: translateX(-50%);
    left: 50%;
    background-color: $grey-backgrounds;
    // background-image: $background;
    box-shadow: $shadow-small-elems;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em 1em 0 0;

    @include desktops {
      width: 40vw;
      height: 90vh;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 42%;
      left: unset;
      border-radius: 1em 0 0 1em;
      display: unset;
    }
  }

  &-moving-elem {
    width: 90vw;
    height: 10vh;
    position: absolute;
    top: calc(50vh + 20px + 10%);
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
    background-color: $grey-backgrounds;
    // background-image: $background;
    box-shadow: $shadow-small-elems;
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktops {
      width: 10vw;
      height: 90vh;
      top: 50%;
      transform: translateY(-50%);
      right: 31%;
      left: unset;
      display: unset;
    }
  }

  &-moving-elem2 {
    width: 90vw;
    height: 10vh;
    position: absolute;
    top: calc(60vh + 40px + 10%);
    transform: translateX(-50%);
    left: 50%;
    z-index: 2;
    background-color: $grey-backgrounds;
    // background-image: $background;
    box-shadow: $shadow-small-elems;
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktops {
      width: 10vw;
      height: 90vh;
      top: 50%;
      transform: translateY(-50%);
      right: 20%;
      left: unset;
      display: unset;
    }
  }
  &-moving-elem3 {
    width: 90vw;
    height: 10vh;
    position: absolute;
    top: calc(70vh + 60px + 10%);
    transform: translateX(-50%);
    left: 50%;
    z-index: 3;
    background-color: $grey-backgrounds;
    // background-image: $background;
    box-shadow: $shadow-small-elems;
    border-radius: 0 0 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktops {
      width: 10vw;
      height: 90vh;
      top: 50%;
      left: unset;
      transform: translateY(-50%);
      right: 9%;
      display: unset;
      border-radius: 0 1em 1em 0;
    }
  }

  &-title {
    padding: 1em;
    font-weight: 500;
    color: black;
    text-shadow: $shadow-text;
    font-size: 1.2em;
    cursor: pointer;

    @include tablet {
      font-size: 1.5em;
    }

    @include desktops {
      padding: 1em;
      text-orientation: upright;
      writing-mode: vertical-lr;
      font-weight: 500;
      color: black;
      text-shadow: $shadow-text;
      font-size: 30px;
      cursor: pointer;
    }
    &:hover {
      font-weight: 300;
      color: $yellow-elements;
    }
  }

  &-content1 {
    width: 95%;
    font-size: 14px;
    text-align: center;

    @include desktops {
      width: 80%;
      font-size: 16px;
    }
  }

  &-decor {
    height: 1px;
    width: 200px;
    background-color: $yellow-elements;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    margin-bottom: 1em;
    @include desktops {
      height: 1px;
      width: 400px;
      background-color: $yellow-elements;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  &-photo2 {
    width: 60%;
    margin-bottom: 1em;
  }
}

@keyframes move {
  from {
    left: 7%;
  }
  to {
    left: 53%;
  }
}
