.contact {
  width: 320px;
  height: 520px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid $grey-backgrounds;
  box-shadow: $shadow-small-elems, $shadow-clicked;
  border-radius: 2em;
  @include tablet {
    width: 60vw;
    height: 50vh;
    top: 35%;
  }
  @include desktops {
    width: 40vw;
    height: 80vh;
    left: 37%;
  }

  &-bg {
    background-color: $grey-backgrounds;
    width: 100%;
    height: 110vh;
    position: relative;
    // background-image: $background;
    background-position: center;
    background-size: cover;
    @include desktops {
      height: 100vh;
    }
  }

  &-2 {
    @include boxes;
    width: 290px;
    height: 490px;
    @include tablet {
      width: 56vw;
      height: 48vh;
    }
    @include desktops {
      width: 38vw;
      height: 76vh;
    }
  }

  &-3 {
    @include boxes;
    width: 260px;
    height: 460px;
    @include tablet {
      width: 52vw;
      height: 46vh;
    }
    @include desktops {
      width: 36vw;
      height: 72vh;
    }
  }
  &-4 {
    border: 3px solid $grey-backgrounds;
    box-shadow: $shadow-small-elems;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
    width: 230px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      width: 48vw;
      height: 44vh;
    }
    @include desktops {
      width: 34vw;
      height: 68vh;
    }
  }

  &-form {
    @include tablet {
      padding-top: 2em;
    }
    @include desktops {
      padding-top: 1em;
    }
  }

  &-label {
    color: $yellow-elements;
    position: absolute;
    top: 2.65em;
    left: 1.5em;
  }

  &-input {
    @include inputs;

    &-container {
      display: grid;
      padding: 2em 0 0.5em 1em;
      position: relative;

      @include tablet {
        padding: 2em 0 1em 1em;
      }

      @include desktops {
        padding: 2em 0 1em 1em;
      }
    }
  }

  &-textarea {
    @include inputs;
    height: 5em;
    resize: none;

    @include tablet {
      width: 90%;
    }

    @include desktops {
      width: 90%;
    }
  }

  &-button {
    @include button(0.5em 1em);
    position: absolute;
    right: 2em;
    bottom: 1em;
  }

  &-message-sent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: appear linear 3s;
    width: 120px;
    @include tablet {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: unset;
    }
    @include desktops {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: unset;
    }
  }

  &-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include tablet {
      left: 35%;
      bottom: 10%;
      width: 30vw;
      top: unset;
      transform: unset;
    }

    @include desktops {
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
      width: 25vw;
      left: unset;
    }
    h3 {
      color: $yellow-elements;
      font-size: 27px;
      @include desktops {
        color: $yellow-elements;
        font-size: 27px;
      }
    }
  }
  &-decor {
    height: 1px;
    width: 200px;
    background-color: $yellow-elements;
    margin: 1em;
    @include desktops {
      height: 1px;
      width: 200px;
      background-color: $yellow-elements;
      margin: 1em;
    }
  }

  &-buttons {
    @include button(0.5em 1em);

    &-container {
      position: absolute;
      bottom: 5%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
