.contact {
  width: 80vw;
  height: 70vh;
  position: relative;
  left: 50%;
  top: 50%;
  animation: circles-mob linear 1s;
  transform: translate(-50%, -50%);
  @include boxes;
  @include tablet {
    width: 60vw;
    height: 50vh;
    animation: circles-tab linear 1s;
  }
  @include desktops {
    width: 40vw;
    height: 80vh;
    animation: circles-desk linear 1s;
  }

  &-2 {
    @include boxes;
    width: 74vw;
    height: 66vh;
    animation: circles2-mob linear 1.2s;
    @include tablet {
      width: 56vw;
      height: 48vh;
      animation: circles2-tab linear 1.2s;
    }
    @include desktops {
      width: 38vw;
      height: 76vh;
      animation: circles2-desk linear 1.2s;
    }
  }

  &-3 {
    @include boxes;
    width: 68vw;
    height: 62vh;
    animation: circles3-mob linear 1.4s;
    @include tablet {
      width: 52vw;
      height: 46vh;
      animation: circles3-tab linear 1.4s;
    }
    @include desktops {
      width: 36vw;
      height: 72vh;
      animation: circles3-desk linear 1.4s;
    }
  }
  &-4 {
    border: 3px solid $grey-backgrounds;
    box-shadow: $shadow-small-elems;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
    width: 62vw;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      width: 48vw;
      height: 44vh;
    }
    @include desktops {
      width: 34vw;
      height: 68vh;
    }
  }

  &-form {
    animation: appear linear 3s;

    @include tablet {
      padding-top: 2em;
    }
    @include desktops {
      padding-top: 1em;
    }
  }

  &-label {
    color: $yellow-elements;
    font-weight: 500;
    position: absolute;
    top: 2.5em;
    left: 1.5em;
  }

  &-input {
    @include inputs;

    &-container {
      display: grid;
      padding: 2em 0 0.5em 1em;
      position: relative;

      @include tablet {
        padding: 2em 0 1em 1em;
      }

      @include desktops {
        margin-left: 1em;
        padding: 2em 0 1em 1em;
      }
    }
  }

  &-textarea {
    @include inputs;
    height: 5em;

    @include tablet {
      width: 90%;
    }

    @include desktops {
      width: 90%;
    }
  }
}
