.index {
  background-color: $grey-backgrounds;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: $background;
  background-position: center;
  background-size: cover;

  &-container {
    width: 290px;
    height: 380px;
    position: relative;
    left: 10vw;
    top: 30vh;
    border: 3px solid $grey-backgrounds;
    animation: light-mob 3s alternate infinite;

    @include tablet {
      top: 25vh;
      height: 80vw;
      width: 65vw;
      left: 25vw;
      animation: light-tab 3s alternate infinite;
    }
    @include desktops {
      width: 30vw;
      height: 38vw;
      top: 10vh;
      left: 50vw;
      animation: light 3s alternate infinite;
    }
  }

  &-photo {
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 270px;
    height: 360px;
    object-fit: cover;
    object-position: center center;
    box-shadow: 50px -50px 100px rgba(255, 255, 255, 0.3),
      -50px 50px 100px rgba(0, 0, 0, 0.3);
    @include tablet {
      width: 88%;
      height: 90%;
      box-shadow: 100px -100px 150px rgba(255, 255, 255, 0.3),
        -100px 100px 150px rgba(0, 0, 0, 0.3);
    }
    @include desktops {
      width: 88%;
      height: 90%;
      box-shadow: 100px -100px 200px rgb(255 255 255 / 30%),
        -150px 150px 200px rgb(0 0 0 / 30%);
    }
  }

  &-header {
    z-index: 5;
    position: absolute;
    top: 13vh;
    width: 100vw;
    text-align: right;
    right: 10%;
    font-family: "pirulen", sans-serif;
    font-weight: 200;

    @include tablet {
      width: 70vw;
      top: 10%;
    }
    @include desktops {
      z-index: 5;
      position: absolute;
      top: 40vh;
      width: 35%;
      left: 10%;
      font-size: 28px;
    }
    &-title {
      font-family: "pirulen", sans-serif;
      font-weight: 200;
      text-align: right;
      margin-bottom: 7px;
      font-size: 40px;

      @include tablet {
        font-size: 50px;
      }
      @include desktops {
        font-size: 60px;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    &-small {
      font-family: $font-headers;
      text-align: right;
      font-weight: 300;
      @include desktops {
        text-align: center;
      }
    }
  }
}

.madeby {
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  right: 10px;

  @include tablet {
    font-size: 12px;
  }

  @include desktops {
    font-size: 12px;
    transform: rotate(-90deg);
    bottom: 70px;
    right: -45px;
  }
}
