.index {
  background-color: $grey-backgrounds;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: $background;
  &-container {
    width: 80vw;
    height: 52vh;
    position: relative;
    left: 10vw;
    top: 30vh;
    border: 3px solid $grey-backgrounds;
    box-shadow: $shadow-small-elems, $shadow-clicked;
    @include tablet {
      top: 25vh;
      height: 60vh;
      width: 65vw;
      left: 25vw;
    }
    @include desktops {
      width: 30vw;
      height: 80vh;
      top: 10vh;
      left: 42vw;
    }
  }

  &-photo {
    width: 90%;
    height: auto;
    position: absolute;
    right: -20px;
    bottom: -20px;
  }

  &-header {
    z-index: 5;
    position: absolute;
    top: 13vh;
    width: 55%;
    text-align: right;
    right: 10%;
    @include tablet {
      width: 40vh;
      top: 10%;
    }
    @include desktops {
      z-index: 5;
      position: absolute;
      top: 40vh;
      width: 20%;
      text-align: right;
      left: 20%;
    }
  }
}
