.portfolio {
  background-image: $background;
  background-color: $grey-backgrounds;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  &-button-prev {
    @include button(0.5em 1em);
    position: fixed;
    left: 3em;
    bottom: 4em;
    @include desktops {
      right: 12em;
      bottom: 5em;
      left: unset;
    }
  }

  &-button-next {
    @include button(0.5em 1em);
    position: fixed;
    right: 3em;
    bottom: 4em;

    @include desktops {
      right: 6em;
      bottom: 5em;
    }
  }

  &-pages-nav {
    position: fixed;
    bottom: 2em;
    right: 50%;
    display: flex;
    gap: 5px;
    transform: translateZ(-50%);

    @include desktops {
      top: 50%;
      right: 1em;
      flex-direction: column;
      gap: 0.5em;
    }

    &-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $grey-light;

      @include desktops {
        width: 8px;
        height: 8px;
      }
    }
  }

  &-img {
    width: 95%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    z-index: 4;

    @include desktops {
      width: 40%;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
    }

    &-second {
      width: 25%;
      height: auto;
      position: absolute;
      left: 13%;
      top: 2%;
      filter: blur(7px);
      z-index: 3;
    }

    &-third {
      width: 25%;
      height: auto;
      position: absolute;
      left: 13%;
      top: 2%;
      filter: blur(7px);
      z-index: 1;
    }
  }

  &-title {
    position: absolute;
    bottom: 6em;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    @include desktops {
      top: 20%;
      right: 10%;
      width: 20%;
      bottom: unset;
      left: unset;
      transform: unset;
    }
  }
}
