body {
  font-family: $font-headers;
  box-sizing: border-box;
  color: $grey-light;
  font-size: 16px;
  @include desktops {
    font-size: 20px;
  }
}

h1 {
  font-size: 200%;
  color: $yellow-elements;
  text-shadow: 2px 2px 4px black;
  font-family: $font-headers;
  @include tablet {
    font-size: 200%;
  }
  @include desktops {
    font-size: 300%;
  }
}

h2 {
  font-size: 150%;
  color: $yellow-elements;
  @include tablet {
    font-size: 150%;
  }
  @include desktops {
    font-size: 200%;
  }
}

h3 {
  font-size: 120%;
  color: $yellow-elements;
  @include tablet {
    font-size: 120%;
  }
  @include desktops {
    font-size: 150%;
  }
}

a {
  color: $grey-light;
  text-decoration: none;

  &:visited {
    color: $grey-transparent;
  }

  &:hover {
    color: $yellow-elements;
  }
  &:focus {
    color: $yellow-elements;
  }

  &:active {
    color: $yellow-clicked-button;
  }
}

input,
textarea,
button,
select,
a,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

.text-error {
  color: red;
  font-size: 14px;
}

.text-ok {
  color: greenyellow;
  font-size: 14px;
}
