// NAV

@keyframes expand {
  from {
    width: 1.8em;
    height: 1.8em;
    box-shadow: $shadow-small-elems;
  }
  to {
    width: 170px;
  }
}

@keyframes appear {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  30% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes hide {
  from {
    width: 170px;
    border-radius: 20px;
  }
  to {
    width: 1.8em;
    height: 1.8em;
    border-radius: 30%;
  }
}

// CONTACT PAGE

// CONTAINERS

@keyframes circles-mob {
  from {
    width: 320px;
    height: 520px;
  }
  to {
    width: 0;
    height: 0;
  }
}
@keyframes circles2-mob {
  from {
    width: 290px;
    height: 490px;
  }
  to {
    width: 0;
    height: 0;
  }
}
@keyframes circles3-mob {
  from {
    width: 260px;
    height: 460px;
  }
  to {
    width: 0;
    height: 0;
  }
}

@keyframes circles-tab {
  from {
    width: 60vw;
    height: 50vh;
  }
  to {
    width: 0;
    height: 0;
  }
}
@keyframes circles2-tab {
  from {
    width: 56vw;
    height: 48vh;
  }
  to {
    width: 0;
    height: 0;
  }
}
@keyframes circles3-tab {
  from {
    width: 52vw;
    height: 46vh;
  }
  to {
    width: 0;
    height: 0;
  }
}

@keyframes circles-desk {
  from {
    width: 40vw;
    height: 80vh;
  }
  to {
    width: 0;
    height: 0;
  }
}
@keyframes circles2-desk {
  from {
    width: 38vw;
    height: 76vh;
  }
  to {
    width: 0;
    height: 0;
  }
}
@keyframes circles3-desk {
  from {
    width: 36vw;
    height: 72vh;
  }
  to {
    width: 0;
    height: 0;
  }
}

// INPUTS

@keyframes label {
  from {
    top: 2.5em;
    left: 1.5em;
  }
  to {
    top: 0.75em;
    left: 1em;
  }
}

// GALLERY

@keyframes photo-change {
  from {
    width: 25%;
    left: 16%;
    top: 2%;
    filter: blur(7px);
    transform: unset;
  }
  to {
    top: 50%;
    width: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}

@keyframes photo-change2 {
  from {
    width: 0;
    left: 5%;
    top: 0;
  }
  to {
    width: 25%;
    left: 16%;
    top: 2%;
  }
}

@keyframes photo-change3 {
  from {
    top: 50%;
    width: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 100%;
    width: 70%;
    left: 100%;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes photo-change-back {
  from {
    top: 50%;
    width: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  to {
    width: 25%;
    left: 16%;
    top: 2%;
    filter: blur(7px);
    transform: unset;
    z-index: 2;
  }
}

@keyframes photo-change-back2 {
  from {
    width: 25%;
    left: 16%;
    top: 2%;
  }
  to {
    width: 0;
    left: 5%;
    top: 0;
    z-index: 1;
  }
}

@keyframes photo-change-back3 {
  from {
    top: 100%;
    width: 70%;
    left: 100%;
    opacity: 0;
    visibility: hidden;
  }
  to {
    top: 50%;
    width: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}

@keyframes slidein {
  from {
    left: 100vw;
  }
  to {
    left: 50%;
  }
}

@keyframes slideout {
  from {
    left: 50%;
  }
  to {
    left: -100vh;
  }
}

@keyframes slideinright {
  from {
    left: -100vh;
  }
  to {
    left: 50%;
  }
}

@keyframes slideoutright {
  from {
    left: 50%;
  }
  to {
    left: 100vh;
  }
}

@keyframes changeWidth {
  from {
    width: 10vw;
  }
  to {
    width: 40vw;
  }
}

@keyframes changeHeight {
  from {
    height: 10vh;
  }
  to {
    height: 50vh;
  }
}

@keyframes light {
  from {
    box-shadow: -100px 100px 200px rgb(255 255 255 / 40%),
      150px -150px 200px rgb(0 0 0 / 40%);
  }
  to {
    box-shadow: 100px -100px 200px rgb(255 255 255 / 40%),
      -150px 150px 200px rgb(0 0 0 / 40%);
  }
}

@keyframes light-mob {
  from {
    box-shadow: -50px 50px 100px rgba(255, 255, 255, 0.3),
      50px -50px 100px rgba(0, 0, 0, 0.3);
  }
  to {
    box-shadow: 50px -50px 100px rgba(255, 255, 255, 0.3),
      -50px 50px 100px rgba(0, 0, 0, 0.3);
  }
}

@keyframes light-tab {
  from {
    box-shadow: -100px 100px 150px rgba(255, 255, 255, 0.3),
      100px -100px 150px rgba(0, 0, 0, 0.3);
  }
  to {
    box-shadow: 100px -100px 150px rgba(255, 255, 255, 0.3),
      -100px 100px 150px rgba(0, 0, 0, 0.3);
  }
}
