@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktops {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin button($padding) {
  cursor: pointer;
  padding: $padding;
  border-radius: 1em;
  box-shadow: $shadow-small-elems;
  border: none;
  background-color: $grey-backgrounds;
  font-family: $font-headers;
  color: black;
  text-shadow: $shadow-text;
  font-weight: 500;

  &:hover {
    color: $yellow-elements;
    text-shadow: none;
  }
  &:active {
    box-shadow: $shadow-small-elems, $shadow-clicked;
  }
  &:disabled {
    color: black;
    box-shadow: $shadow-small-elems;
    text-shadow: $shadow-text;
  }
}

@mixin boxes {
  border: 3px solid $grey-backgrounds;
  box-shadow: $shadow-small-elems, $shadow-clicked;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2em;
}

@mixin inputs {
  box-shadow: $shadow-small-elems;
  padding: 1em;
  background-color: $grey-backgrounds;
  border-radius: 10px;
  border: none;
  width: 80%;
  color: $grey-light;
  font-size: 12px;
  font-family: $font-secondary;
  -webkit-box-shadow: $shadow-small-elems;
  @include tablet {
    width: 60%;
    font-size: 13px;
  }
  @include desktops {
    width: 50%;
    font-size: 15px;
  }

  &:focus {
    box-shadow: $shadow-small-elems, $shadow-clicked;
    -webkit-box-shadow: $shadow-small-elems, $shadow-clicked;
  }
}
