$font-headers: "Montserrat", sans-serif;
$font-secondary: "Lato", sans-serif;

$grey-backgrounds: #2c2c2c;
$yellow-elements: #b2ab76;
$grey-light: #929292;
$grey-transparent: #92929263;
$yellow-active-link: #c5b95e;

$mobile-width: 460px;
$tablet-width: 960px;

$shadow-small-elems: 5px 3px 5px #000000, -1px -2px 3px #898989;
$shadow-yellow-elems: 5px 3px 5px #000000, -1px -2px 3px #d3cb8d;
